@import '../../variables';

.header {
  grid-area: header;
  height: 100%;
  font-size: 1.4em;
  
  &__icon {
    margin-right: 15px;
  }

  &__toolbar {
    background-color: $bgColor;
    color: white;
  }
}