

.container {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                          "main"
                          "footer";

}

main {
  grid-area: main;
  padding: 20px;
}